<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Pastebin</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>

        <h1>Your paste</h1>
        
        <div th:each="paste : ${aPaste}">
            <p>Message:</p>
            <p><textarea th:text="${paste.message}" rows="10" cols="30" /></p>
            <p>Id: <span th:text="${paste.id}" /></p>
            <p>Name: <span th:text="${paste.name}" /></p>
            <p>Expiration: <span th:text="${paste.expiration}" /></p>
        </div>

    </body>
</html>