<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Pastebin</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>

        <h1>Your paste</h1>

        <div th:each="p : ${aPaste}">
            <p>Message:</p>
            <p>Id: <span th:text="${p.id}" /></p>
            <p>Name: <span th:text="${p.name}" /></p>
            <p>Expiration: <span th:text="${p.expiration}" /></p>
            <p><textarea th:text="${p.message}" rows="10" cols="30" /></p>
            
            <form th:method="post" th:action="@{'/comments'}"> 
                <input name="comment" value="" type="text" /> 
                <input name="pasteId" th:value="${p.id}" type="hidden" /> 
                <input type="submit" /> 
            </form> 
        </div>

    <td> 

    </td> 
    <td> 

    </td> 

</body>
</html>